<div sv-root sv-on-sort='foo($partFrom, $partTo)' class='row'>
  <div class='col-sm-6 col-md-4'>
    <h1>Selected</h1>
    <ul sv-part='outputList' class='list-group sortable-list'>
      <li ng-repeat='item in outputList' sv-element class='list-group-item'>
        <div sv-placeholder class='sortable-placeholder'></div>
        {{item.text}}
      </li>
    </ul>
  </div>

  <div class='col-sm-6 col-md-4' >
    <h1>Unselected</h1>
    <ul sv-part='inputList' class='list-group sortable-list'>
      <li ng-repeat='item in inputList' sv-element class='list-group-item'>
        <div sv-placeholder class='sortable-placeholder'></div>
        {{item.text}}
      </li>
    </ul>
  </div>
</div>